<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h1>Create Comment</h1>

<form action="/api/comment" method="post">
    <input type="text" name="username" placeholder="User Name"/>
    <input type="text" name="body" placeholder="Body"/>
    <br />
    <button type="submit" value="Create Comment"></button>

</form>


</body>
</html>
