<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <h1>Create Zone</h1>

    <form action="/api/zone" method="post">
        <input type="text" name="name" placeholder="Name"/>
        <input type="text" name="zipCode" placeholder="Zip Code"/>
        <br />
        <button type="submit" value="Create Zone"></button>

    </form>


</body>
</html>
